
@{
    ViewBag.Title = "ForgotPassword";
}

<div ng-cloak style="margin-top:5%;">
    <md-content class="md-padding" layout-xs="column" style="background-color:white;" layout="row" layout-align="center">
        <div flex-xs flex-gt-xs="55" layout="column">
            <md-card md-theme="'dark-purple'" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Forgot Password</span>
                        <span class="md-subhead"></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-input-container class="md-icon-float md-block">
                        <label>Email</label>
                        <input ng-model="Email" type="text" required>
                    </md-input-container>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>Request to change password</md-button>
                        <md-button>Login</md-button>
                    </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>